@use "../variables" as *;
@use "../mixins" as *;

.invitation {
    .content {
        font-family: $blushing-rose-font;
        width: 100%;
        font-weight: 300;
        .text-box {
            padding: 10% 8% 20%;
            text-align: left;
            letter-spacing: 1px;    
            line-height: 1.3;

            .initials {
                h2 {
                    font-size: 70px;  
                    span {
                        font-size: 30px;
                        position: relative;
                        left: -1%;
                    }
                }
            }

            .family-info {
                margin-top: 5%;
                p {
                    font-size: 14px;
                }
                p.en  {
                    margin-top: 4%;
                }
                &.chinese {
                    font-family: 'kaiu', sans-serif;
                }
            }

            .invitation-text {
                margin-top: 5%;
                p {
                    font-size: 14px;
                }
                p.en {
                    margin-top: 4%;
                    margin-bottom: 15%;
                }
                &.chinese {
                    font-family: 'kaiu', sans-serif;
                }
            }
            .couple-info {
                text-transform: uppercase;
                margin-top: 10%;
                h2 {
                    font-size: 32px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    &.chinese {
                        font-family: 'kaiu', sans-serif;
                        font-size: 34px;
                    }
                }
                .divider-couple {
                    font-size: 20px;
                }
                p.role {
                    font-size: 14px;
                }

                p.divider {
                    margin-bottom: 10%;
                }
            }
        }

        .image-box {
            width: 100%;
            aspect-ratio: 500 / 812;
            background: linear-gradient(to bottom, #e8e6d9ff, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
                url('https://pub-d341ea7ec201435598469d75d8c4a056.r2.dev/tuan-linh/DSC04095.webp') no-repeat center / cover;

            h2 {
                font-family: $blushing-rose-font;
                font-size: 56px;
                font-weight: 100;
                margin-top: 5%;
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .text-box {
                letter-spacing: calc((1 / 500) * 100vw);  

                .initials {
                    h2 {
                        font-size: calc((70 / 500) * 100vw);  
                        span {
                            font-size: calc((30 / 500) * 100vw);  
                        }
                    }
                }

                .family-info, .invitation-text {
                    p {
                        font-size: calc((14 / 500) * 100vw);  
                    }
                }
    
                .couple-info {
                    h2 {
                        font-size: calc((32 / 500) * 100vw);  
                        letter-spacing: calc((2 / 500) * 100vw);  
                    }
                    h2.chinese {
                        font-size: calc((34 / 500) * 100vw);  
                    }
                    .divider-couple {
                        font-size: calc((20 / 500) * 100vw);
                    }
                    p.role {
                        font-size: calc((11 / 500) * 100vw);  
                    }
                }
            }

            .image-box {
                h2 {
                    font-size: calc((56 / 500) * 100vw);
                }
            }
        }
    }
}
