@use "../variables" as *;
@use "../mixins" as *;

.location {
    width: 100%;
    .content {
        width: 100%;
        font-family: $blushing-rose-font;
        p {
            font-size: 14px;
        }
        .header-section {
            @include flex-center;
            flex-direction: column;
            padding: 10% 0 2%;

            .time-and-location {
                max-width: 185px;
                width: 100%;
                aspect-ratio: 185 / 32;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                line-height: 0;
                img {
                    position: absolute;
                    width: 100%;
                    height: auto;
                    top: 0;
                    left: 0;
                }
            }
            p.sub-en {
                font-size: 10.6px;
            }

            h1.main-title {
                font-size: 51px;
                font-weight: 100;
                margin-top: 8%;
            }
        }

        .ceremony-block {
            margin: 10% 0;
            p.hour {
                text-transform: uppercase;
            }
            p.day-detail {
                font-size: 18px;
            }
            h2.date {
                font-size: 42px;
                font-weight: 100;
                letter-spacing: 4px;
                margin-top: 1%;
            }
            .timeline {
                width: 100%;
                @include flex-center;
                flex-direction: column;
                margin-top: 10%;
                h2 {
                    font-size: 24px;
                    text-transform: uppercase;
                    margin-bottom: 5%;
                }
                .timeline-grid {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        margin-bottom: 5%;
                        .icon {
                            width: 50px;
                            aspect-ratio: 50 / 70;
                            margin: 0 auto;
                            @include flex-center;
                            
                            img {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .desc {
                            width: 100%;
                        }
                    }
                    &.friend {
                        width: 100%;
                        .item {
                            width: 20%;
                        }
                    }

                    &.parent {
                        width: 80%;
                        .item {
                            width: 33.3333%;
                        }
                    }
                }
            }
            .location-details {
                @include flex-center;
                flex-direction: column;
                padding: 0 5%;

                .location-icon {
                    max-width: 24px;
                    width: 100%;
                    margin: 5% 0 2%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
                .location-name {
                    text-transform: uppercase;
                    font-size: 24px;
                    font-weight: 100;
                    letter-spacing: 2px;
                }
            }
        }
        .dresscode {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {
                font-size: 24px;
                text-transform: uppercase;
            }
            .color-grid {
                width: 100%;
                display: flex;
                justify-content: center;
                gap: 3%;
                .item {
                    border-radius: 50%;
                    width: 30px;
                    aspect-ratio: 1;
                    margin-top: 5%;
                }
            }
        }
        .separator {
            @include flex-center;
            hr {
                width:18%;
                border: 1px solid #000;
            }
        }
        .image-block {
            width: 100%;
            aspect-ratio: 500 / 748;
            background: url('') no-repeat center / cover;       
            margin-top: 15%;     
        }
    }

    @media (max-width: 500px) {
        .content {
            p {
                font-size: calc((14 / 500) * 100vw);
            }
            .header-section {
                .time-and-location {
                    max-width: calc((185 / 500) * 100vw);
                }
                p.sub-en {
                    font-size: calc((10.6 / 500) * 100vw);
                }
    
                h1.main-title {
                    font-size: calc((51 / 500) * 100vw);
                }
            }
    
            .ceremony-block {
                h2.date {
                    font-size: calc((42 / 500) * 100vw);
                    letter-spacing: calc((4 / 500) * 100vw);;
                }

                p.day-detail {
                    font-size: calc((18 / 500) * 100vw);
                }

                .timeline {
                    h2 {
                        font-size: calc((24 / 500) * 100vw);
                    }
                    .timeline-grid {
                        .item {
                            .icon {
                                width: calc((50 / 500) * 100vw);
                            }
                        }
                    }
                }

                .location-details {
                    .location-icon {
                        max-width: calc((24 / 500) * 100vw);
                    }
                    .location-name {
                        font-size: calc((24 / 500) * 100vw);
                        letter-spacing: calc((2 / 500) * 100vw);
                    }
                }
            }
            .dresscode {
                h2 {
                    font-size: calc((24 / 500) * 100vw);
                }
                .color-grid {
                    .item {
                        width: calc((30 / 500) * 100vw);
                    }
                }
            }
        }
    }
}