@use "../variables" as *;
@use "../mixins" as *;


.rsvp {
    width: 100%;
    .content {
        width: 100%;
        font-family: $blushing-rose-font;
        font-weight: 300;
        line-height: 1.2;
        padding: 10% 10%;
        text-align: left;

        .top-img {
            width: 100%;
            aspect-ratio: 386 / 216;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: 100% 70%;
            }
        }

        .header {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            text-align: start;
            margin: 8% 0 15%;

            .main-heading, .english-heading {
                font-size: 25px;
                font-weight: 100;
                text-align: left;
            }
        }

        .info-notice {
            margin-bottom: 10%;
            p {
                text-align: left;
                font-size: 14px;
                letter-spacing: 1px;
            }
            p.vi {
                margin-bottom: 3%;
            }
        } 

        form {
            .form-group {
                margin-bottom: 5%;

                .question {
                    font-size: 14px;
                    letter-spacing: 1px;
                }

                input[type="text"],
                input[type="number"],
                textarea {
                    font-family: $gotham-font;
                    width: 100%;
                    padding: 2% 4%;
                    border: 2px solid #000;
                    border-radius: 15px;
                    background: white;
                    font-size: 14px;
                    color: #000;
                    transition: border-color 0.3s ease;
                }

                input[type="text"]:focus,
                input[type="number"]:focus,
                textarea:focus {
                    outline: none;
                    // border-color:$title-color;;
                }

                textarea {
                    aspect-ratio: 500 / 100;
                    resize: vertical;
                    line-height: 1.5;
                    letter-spacing: .5px;
                }

                .attendance-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 7%;
                    margin: 3% 0 5%;

                    .radio-wrapper {
                        position: relative;
                    }

                    .radio-wrapper input[type="radio"] {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                    }

                    .radio-label {
                        font-family: $gothamLight-font;
                        font-size: 14px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 3%;
                        border: 2px solid #000;
                        border-radius: 15px;
                        background: white;
                        cursor: pointer;
                        transition: all 0.3s ease;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 1.5;
                        &:hover {
                            background: #ded1c3;
                        }
                    }

                    .radio-wrapper input[type="radio"]:checked + .radio-label {
                        background: #838484ff;
                        border: 2px solid #838484ff;
                        color: white;
                    }
                }

                .dietary-buttons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }
            }

            .submit-btn {
                width: 38%;
                padding: 2%;
                background: #838484ff;
                color: #000;
                border: none;
                border-radius: 15px;
                font-weight: 600;
                font-size: 14px;
                cursor: pointer;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: background 0.3s ease;
                margin-bottom: 10%;
            }
    
            .submit-btn:hover {
                background: rgb(90, 91, 91);
                opacity: 0.9;
            }
    
            .submit-btn:active {
                transform: scale(0.98);
            }

        }
    }

    @media (max-width: 500px) {
        .content {
            .header {
                .main-heading, .english-heading {
                    font-size: calc((25 / 500) * 100vw);
                }
            }

            .info-notice {
                p {
                    font-size: calc((14 / 500) * 100vw);
                    letter-spacing: calc((1 / 500) * 100vw);
                }
            } 
    
            form {
                .form-group {
                    .question {
                        font-size: calc((14 / 500) * 100vw);
                        letter-spacing: calc((1 / 500) * 100vw);
                    }

                    input[type="text"],
                    input[type="number"],
                    textarea {
                        font-size: calc((14 / 500) * 100vw);
                    }
    
                    textarea {
                        font-size: calc((14/ 500) * 100vw);
                        letter-spacing: calc((0.5 / 500) * 100vw);
                    }
                }
    
                .submit-btn {
                    font-size: calc((14 / 500) * 100vw);
                    letter-spacing: calc((1 / 500) * 100vw);
                }
            }
        }
    }
}
