@font-face {
    font-family: 'SVN-Gotham';
    src: url('../../assets/fonts/SVN-GothamBook.woff2') format('woff2'),
        url('../../assets/fonts/SVN-GothamBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-GothamLight';
    src: url('../../assets/fonts/SVN-Gotham\ Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: '1FTVBlushingRose';
    src: url('../../assets/fonts/1FTVBlushingRose.woff2') format('woff2'),
        url('../../assets/fonts/1FTVBlushingRose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'kaiu';
    src: url('../../assets/fonts/kaiu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


// @font-face {
//     font-family: 'kaiu';
//     src: url('../../assets/fonts/kaiu.woff') format('woff');
//   }

@font-face {
    font-family: "HAKUYOXingShu3500";
    src: url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.eot");
    src: url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/a3bef28623cf01b8848d79fa51fd432f.svg#HAKUYOXingShu3500")format("svg");
}

@font-face {
    font-family: "QXyingbikai";
    src: url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.eot");
    src: url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/3dd5e1c6e6213716899e56a602811a0d.svg#QXyingbikai")format("svg");
}

// @font-face {
//     font-family: 'QXyingbikai';
//     src: url('../../assets/fonts/QXyingbikai.woff2') format('woff2'),
//     url('../../assets/fonts/QXyingbikai.woff') format('woff'),
//     url('../../assets/fonts/QXyingbikai.ttf') format('ttf');
//     font-weight: normal;
//     font-style: normal;
// }
