$shadow-default: 0 10px 30px rgba(0, 0, 0, 0.25);
$radius: 14px;

// Colors
$primary-color: #000;
$bg-color: #e8e6d9ff;

$font-size-base: 12.65px;

// Font
$gotham-font: 'SVN-Gotham', sans-serif;
$gothamLight-font: 'SVN-GothamLight', sans-serif;
$blushing-rose-font: '1FTVBlushingRose', sans-serif;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
