@use "variables" as *;
@use "mixins" as *;

@font-face {
    font-family: "UVNKECHUYEN3";
    src: url("../../assets/fonts/UVNKeChuyen3.woff2") format("woff2"), url("../../assets/fonts/UVNKeChuyen3.woff") format("woff");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: "KozGoPr6NRegular";
    src: url("../../assets/fonts/KozGoPr6NRegular.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: '1FTVBlushingRose';
    src: url('../../assets/fonts/1FTVBlushingRose.woff2') format('woff2'),
        url('../fonts/1FTVBlushingRose.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $gotham-font;
    font-weight: 300;
    background: #fff;
    color: $primary-color;
    @include flex-center;
}

.invitation-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}

.invitation-content {
    background: url('../../assets/images/flower-bg.png') left bottom /50% no-repeat;
    max-width: 648px;
    width: 100%;
    aspect-ratio: 648 / 1153;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #e8e6d9ff;
    box-shadow: $shadow-default;

    .box-logo {
        width: 100%;
        padding-bottom: 10%;
        img {
            width: 15%;
        }
    }

    .initials {
        margin-bottom: 5%;
        h2 {
            font-family: $blushing-rose-font;
            font-size: 60px;  
            font-weight: 300;
            span {
                font-size: 26px;
                position: relative;
                left: -5%;
            }
        }
    }

    .invitation-group {
        font-size: 12px;
        text-transform: uppercase;
        max-width: 128px;
        width: 100%;
        aspect-ratio: 132 / 22;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 0;
        img {
            position: absolute;
            width: 100%;
            height: auto;
            top: 0;
            left: 0;
        }
    }

    .name-couple {
        padding: 3% 0;
        p {
            font-family: 'UVNKECHUYEN3', sans-serif;
            font-size: 67px;
        }
        p.middle {
            font-size: 20px;
        }
    }

    .divider {
        width: 100%;
        padding: 8% 0;
        img {
            width: 8%;
        }
    }

    .save-ourdate {
        font-size: 14px;
        p {
            line-height: 1.7;
        }
    }

    .btn-group {
        width: 100%;
        padding: 5% 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        a.btn-link {
            display: block;
            font-size: 14px;
            font-weight: bold;
            text-decoration: none;
            color: $primary-color;
            border: 1px solid $primary-color;
            width: 50%;
            margin: 1.2%;
            border-radius: 10px;
            text-transform: uppercase;
            min-height: 35px;
            @include flex-center;

            &:hover {
                color: #fff;
                background-color: $primary-color;
            }
        } 

    }

    @media (max-width: 648px) {
        .invitation-group {
            font-size: calc((12 / 648) * 100vw); 
            max-width: calc((128 / 648) * 100vw); 
        }

        .initials {
            h2 {
                font-size: calc((60 / 648) * 100vw); 
                span {
                    font-size: calc((26 / 648) * 100vw); 
                }
            }
        }

        .name-couple {
            p {
                font-size: calc((67 / 648) * 100vw); 
            }
            p.middle {
                font-size: 5vw;
            }
        }

        .save-ourdate {
            font-size: calc((14 / 648) * 100vw); 
        }

        .btn-group {
            a.btn-link {
                font-size: calc((14 / 648) * 100vw);
                min-height: calc((35 / 648) * 100vw);
            }
        }
    
    }
}
